.card {
    margin: 10% 100px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    vertical-align: middle;
    border-style: none;
    float: left;
    padding-right: 10px;
}
.text {
    text-indent: 25px;
}
.navlinks {
    color: red;
}

.container {
    border: solid 1px black;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    background: white;
}
.my-row {
    
}
.my-col {
    
}